body {
  background-color: #333; }

hr {
  background-color: #fcf;
  height: 20px;
  display: block;
  border: none;
  margin: 0; }

.debug {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); }

html.debug .row .col {
  border: 1px dotted #fcc;
  white-space: pre; }
  html.debug .row .col:before {
    display: block;
    background-color: #ccc; }

.container {
  background-color: #fcc; }

.container .col {
  background-color: #cfc; }

.container .col {
  background-color: #ccf; }

.content {
  background-color: #fff;
  padding: 20px;
  text-align: center; }

.container {
  box-sizing: border-box;
  padding: 0 15px;
  overflow: hidden; }
  .container > .row {
    box-sizing: border-box;
    margin: 0 -30px; }
    .container > .row::after {
      clear: both;
      content: "";
      display: table; }
  .container > .row > .col {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 15px 0 15px; }
    .container > .row > .col:nth-child(1) {
      padding-top: 0; }
    .container > .row > .col:after {
      display: block;
      content: "30px 15px 0 15px, 30px";
      color: #000;
      background-color: #fff;
      text-align: center; }
  .container > .row.outside-spacing, .container.outside-spacing > .row {
    margin-left: 0;
    margin-right: 0; }

.richards-special {
  box-sizing: border-box;
  padding: 0 35px;
  overflow: hidden; }
  .richards-special > .row {
    box-sizing: border-box;
    margin: 0 -70px; }
    .richards-special > .row::after {
      clear: both;
      content: "";
      display: table; }
  .richards-special > .row > .col {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 20px 35px 0 35px; }
    .richards-special > .row > .col:nth-child(1) {
      padding-top: 0; }
    .richards-special > .row > .col:nth-child(2) {
      padding-top: 0; }
    .richards-special > .row > .col:nth-child(3) {
      padding-top: 0; }
    .richards-special > .row > .col:nth-child(4) {
      padding-top: 0; }
    .richards-special > .row > .col:after {
      display: block;
      content: "20px 35px 0 35px, 70px";
      color: #000;
      background-color: #fff;
      text-align: center; }
  .richards-special > .row.outside-spacing, .richards-special.outside-spacing > .row {
    margin-left: 0;
    margin-right: 0; }

.percent {
  box-sizing: border-box;
  padding: 0 2.5vw;
  overflow: hidden; }
  .percent > .row {
    box-sizing: border-box;
    margin: 0 -5vw; }
    .percent > .row::after {
      clear: both;
      content: "";
      display: table; }
  .percent > .row > .col {
    float: left;
    width: 12.5%;
    box-sizing: border-box;
    padding: 5vw 2.5vw 0 2.5vw; }
    .percent > .row > .col:nth-child(1) {
      padding-top: 0; }
    .percent > .row > .col:nth-child(2) {
      padding-top: 0; }
    .percent > .row > .col:nth-child(3) {
      padding-top: 0; }
    .percent > .row > .col:nth-child(4) {
      padding-top: 0; }
    .percent > .row > .col:nth-child(5) {
      padding-top: 0; }
    .percent > .row > .col:nth-child(6) {
      padding-top: 0; }
    .percent > .row > .col:nth-child(7) {
      padding-top: 0; }
    .percent > .row > .col:nth-child(8) {
      padding-top: 0; }
    .percent > .row > .col:after {
      display: block;
      content: "5vw 2.5vw 0 2.5vw, 5vw";
      color: #000;
      background-color: #fff;
      text-align: center; }
  .percent > .row.outside-spacing, .percent.outside-spacing > .row {
    margin-left: 0;
    margin-right: 0; }

@media screen and (min-width: 480px) {
  .container {
    box-sizing: border-box;
    padding: 0 25px;
    overflow: hidden; }
    .container > .row {
      box-sizing: border-box;
      margin: 0 -50px; }
      .container > .row::after {
        clear: both;
        content: "";
        display: table; }
    .container > .row > .col {
      float: left;
      width: 50%;
      box-sizing: border-box;
      padding: 30px 25px 0 25px; }
      .container > .row > .col:nth-child(1) {
        padding-top: 0; }
      .container > .row > .col:nth-child(2) {
        padding-top: 0; }
      .container > .row > .col:after {
        display: block;
        content: "30px 25px 0 25px, 50px";
        color: #000;
        background-color: #fff;
        text-align: center; }
    .container > .row.outside-spacing, .container.outside-spacing > .row {
      margin-left: 0;
      margin-right: 0; } }
@media screen and (min-width: 640px) {
  .container {
    box-sizing: border-box;
    padding: 0 25px;
    overflow: hidden; }
    .container > .row {
      box-sizing: border-box;
      margin: 0 -50px; }
      .container > .row::after {
        clear: both;
        content: "";
        display: table; }
    .container > .row > .col {
      float: left;
      width: 25%;
      box-sizing: border-box;
      padding: 30px 25px 0 25px; }
      .container > .row > .col:nth-child(1) {
        padding-top: 0; }
      .container > .row > .col:nth-child(2) {
        padding-top: 0; }
      .container > .row > .col:nth-child(3) {
        padding-top: 0; }
      .container > .row > .col:nth-child(4) {
        padding-top: 0; }
      .container > .row > .col:after {
        display: block;
        content: "30px 25px 0 25px, 50px";
        color: #000;
        background-color: #fff;
        text-align: center; }
    .container > .row.outside-spacing, .container.outside-spacing > .row {
      margin-left: 0;
      margin-right: 0; } }
* {
  box-sizing: border-box; }

.pad {
  padding: 20px; }

.slideshow {
  overflow: hidden; }
  .slideshow img {
    display: block;
    width: 100%; }
  .slideshow .scroll {
    width: 5000%; }
    .slideshow .scroll::after {
      clear: both;
      content: "";
      display: table; }
  .slideshow .slide {
    float: left;
    width: 10em;
    margin: 0; }
  .slideshow .inner {
    border: 1px solid red; }
  .slideshow.three .slide {
    width: 3em;
    margin-top: 0.5em;
    margin-right: 0.5em; }
