@import "../bravo-sass/bourbon/bourbon"

body
  background-color: #333

hr
  background-color: #fcf
  height: 20px
  display: block
  border: none
  margin: 0

.debug
  position: absolute
  z-index: 1
  top: 0
  left: 0
  color: #fff
  background-color: rgba(0,0,0,.5)

html.debug
  .row .col
    border: 1px dotted #fcc
    white-space: pre
    &:before
      display: block
      background-color: #ccc

.container
  background-color: #fcc

.container .col
  background-color: #cfc

.container .col
  background-color: #ccf

.content
  background-color: #fff
  padding: 20px
  text-align: center

////////////////////////////////////////////////////

$grid-columns: 12 !default
$grid-spacing: 30px !default
$grid-vertical-spacing: $grid-spacing !default
$grid-max-width: 1024px !default
$grid-row-class: "row" !default
$grid-col-class: "col" !default
$grid-debug: true

// Private
$--grid-columns: null
$--grid-spacing: null
$--grid-vertical-spacing: null
$--grid-max-width: null
$--grid-padding: null

=grid-container($columns: null, $spacing: null, $vertical-spacing: null, $max-width: null)
  box-sizing: border-box
  $--grid-columns: $grid-columns !global
  $--grid-spacing: $grid-spacing !global
  $--grid-vertical-spacing: $grid-vertical-spacing !global
  $--grid-max-width: $grid-max-width !global
  @if $columns != null
    $--grid-columns: $columns !global
  @if $spacing != null
    $--grid-spacing: $spacing !global
  @if $vertical-spacing != null
    $--grid-vertical-spacing: $vertical-spacing !global
  @if $max-width != null
    $--grid-max-width: $max-width !global
  padding: 0 $--grid-spacing / 2
  overflow: hidden

=grid-row()
  +clearfix
  box-sizing: border-box
  margin: 0 $--grid-spacing * -1

=grid-col($span: 1)
  $width: $span / $--grid-columns * 100%
  $half-spacing: $--grid-spacing / 2
  $padding: $--grid-vertical-spacing $half-spacing 0 $half-spacing
  float: left
  width: $width
  box-sizing: border-box
  padding: $padding
  @for $i from 1 to $--grid-columns / $span + 1
    &:nth-child(#{$i})
      padding-top: 0
  @if $grid-debug
    &:after
      display: block
      content: "" + $padding + ", " + $--grid-spacing
      color: #000
      background-color: #fff
      text-align: center

=grid($columns: null, $spacing: null, $padding: null, $max-width: null, $row-selector: null, $col-selector: null)
  @if $row-selector == null
    $row-selector: "> ." + $grid-row-class
  @if $col-selector == null
    $col-selector: $row-selector + " > ." + $grid-col-class
  +grid-container($columns, $spacing, $padding, $max-width)
  #{$row-selector}
    +grid-row()
  #{$col-selector}
    +grid-col(1)
  #{$row-selector}.outside-spacing,
  &.outside-spacing #{$row-selector}
    margin-left: 0
    margin-right: 0


////////////////////////////////////////////////////

.container
  +grid(1, 30px)

.richards-special
  +grid(4, 70px, 20px)

.percent
  +grid(8, 5vw, 5vw)

@media screen and (min-width: 480px)
  .container
    +grid(2, 50px)

@media screen and (min-width: 640px)
  .container
    +grid(4, 50px)

////////////////////////////////////////////////////

*
  box-sizing: border-box

.pad
  padding: 20px

.slideshow
  overflow: hidden
  //width: 50%

  img
    display: block
    width: 100%

  .scroll
    +clearfix
    width: 5000%

  .slide
    float: left
    width: 10em
    margin: 0

  .inner
    border: 1px solid red

  &.three
    $s: 3
    $m: 0.5
    .scroll
      //padding: 0 $m
    .slide
      width: #{((10.0 - $m * 2) / $s)}em
      margin-top: #{$m}em
      margin-right: #{$m}em

////////////////////////////////////////////////////
